{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn JavaScript</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="game">
      <div class="container">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button></button>
      </div>
      <div class="txt">
        <input class="fl" id="first" type="text" placeholder="please enter start state">
        <br>
        <input class="fl" id="final" type="text" placeholder="please enter final state">
        <br>
        <button id="sub">Submit</button>
      </div>
      
    </div>
    <script src="{% static 'javascript/script.js' %}"></script>
  </body>
</html>